/*

    Universal styles for YouTube Gallery website project.
    Author: Nicholas Kammerer | nkammerer@albany.edu

 */

/* Variable definitions to make stylesheet changes cumbersome */
:root {
    --tile-color: white;
    --opacity: 80%;
    --hd-font: "Montserrat";
    --mn-font: "Courier New";
}
/* Universal styling for page */
body {
    padding:0;
    margin:0;
    height:100%;
    text-align: center;
    background-image: url("images/");
    margin: auto;
}
/* Header of page */
header {
    font-family: var(--hd-font);
    background-color: var(--tile-color);
    opacity: var(--opacity);
    width: 70%;
    text-align: center;
    display: inline-block;

}
/* Main page content */
main {
    display: block;
    font-family: var(--mn-font);
    background-color: var(--tile-color);
    opacity: var(--opacity);
    margin: auto;
    height: fit-content;
    width: 90%;
}
/* Footer of page */
footer {
    font-family: var(--hd-font);
    margin: auto;
    width: 100%;
    bottom: 0
}
/* Left column of page */
#column01 {
    background-color:var(--tile-color);
    margin:auto;
    float:left;
    width: 37.5%;
    height: auto;
    opacity: var(--opacity);
}
/* Right column of page */
#column02 {
    background-color: var(--tile-color);
    float: left;
    width: 37.5%;
    height: auto;
}