<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>YADD | Database Search</title>
        <!-- LINK TO EXTERNAL STYLE SHEET. -->
        <link rel="stylesheet" href="{{ url_for("static",filename="css/style.css") }}">
        <!-- LINK TO MONTSERRAT FONT -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
        <!-- Favicon -->
        <link rel="icon" type="image/x-icon" href={{ url_for("static",filename="img/favicon2.ico") }}>
    </head>
<body>
    <!-- Header banner-->
        <header>
        <img src="{{ url_for("static",filename="img/stealie.jpg") }}" alt="Stealie logo">
        <h1>YADD: Yet Another Dead Database</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for("index")  }}" title="About page">About</a></li>
                <li><a href="{{ url_for("history")  }}" title="History of the Band">History</a></li>
                <li><a href="{{ url_for("albums")  }}" title="Albums">Studio Albums</a></li>
                <li><a href="{{ url_for("art")  }}" title="Fan Art">Fan Art</a></li>
                <li><a href="{{ url_for("yadd")  }}" title="Database Search">Search the DB!</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main site content -->
    <main>

        <!-- Content columns -->
        <div id="sidebar"><h2>Search the database!</h2>
            <img src="{{ url_for("static", filename="img/bears/maroon_bear.jpg") }}" alt="Maroon GD dancing bear" width="300px" height="300px">
        </div>

        <div id="content">
            <h2>    </h2>

        </div>
    </main>
    <!--Footer, appears at bottom of the page.  -->
    <footer>
        <p id="email"><a href="mailto:nkammerer@albany.edu">Send me an email!</a></p>
    </footer>
</body>
</html>